 body {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      padding-top: 80px; /* espaço para header fixed */
      margin: 0;
    }
    main {
      flex: 1 0 auto; /* Conteúdo cresce e ocupa o espaço entre header e footer */
    }
    footer {
      flex-shrink: 0;
      background-color: #222;
      color: white;
      padding: 15px 0;
      text-align: center;
    }