/*HEADER CUSTOMIZADO*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding-top: 80px;
  /* espaço para o header fixo */
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #003333;
}

.logo {  
  top: 0;
  width: 21%;
  z-index: 1000;
  min-height: 80px;
  background-image: url(../img/teste.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: #003333;
  background-size: 100% auto;
}

/* .logo {
    height: 60px;
    width: auto; 
} */

.header-bg {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  min-height: 80px;
  background-color: #003333;
}

.navbar {
  padding: 0.5rem 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.logo-text {
  color: #ffcc99;
  margin-left: 0.75rem;
  line-height: 1.2;
}

.logo-text h1 {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 600;
}

.logo-text small {
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #f8f9fa;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  font-weight: 500;
  margin-left: 1rem;
}

.navbar-nav .nav-link:hover {
  color: #ffcc99 !important;
}

@media (max-width: 768px) {
  .logo {    
    top: 0;
    width: 80%;
    z-index: 1000;
    min-height: 80px;
    background-image: url(../img/teste.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #003333;
    background-size: 100% auto;
  }
}

@media (max-width: 576px) {
  .logo-text h1 {
    font-size: 1.1rem;
  }

  .logo-text small {
    font-size: 0.7rem;
  }

  .navbar-nav .nav-link {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}

/*FIM*/

/* Customizações adicionais */
section {
  scroll-margin-top: 80px;
  /* ajuste conforme a altura do seu header */
}

.card {
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-icon {
  max-height: 80px;
  object-fit: contain;
}

.btn-outline-teal {
  color: #145C5C;
  border: 1px solid #145C5C;
  transition: all 0.3s ease;
  padding: 6px 16px;
  /* controla altura e largura */
  min-width: auto;
  /* evita esticar demais */
}

.btn-outline-teal:hover {
  background-color: #1f7a7a;
  color: white;
  border-color: #1f7a7a;
}

.wallpaper-top {
  background-image: url('../img/wallpaper_cardoso&Muscelli.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}


/* .wallpaper-top {
  margin-top: 72px; 
  max-height: 400px; 
  overflow: hidden;
}
.wallpaper-top img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */